.dropdown-item{display: block}

/*margin*/
.padding-xs { padding: .25em; }
.padding-sm { padding: .5em; }
.padding-md { padding: 1em; }
.padding-lg { padding: 1.5em; }
.padding-xl { padding: 3em; }

.padding-x-xs { padding: .25em 0; }
.padding-x-sm { padding: .5em 0; }
.padding-x-md { padding: 1em 0; }
.padding-x-lg { padding: 1.5em 0; }
.padding-x-xl { padding: 3em 0; }

.padding-y-xs { padding: 0 .25em; }
.padding-y-sm { padding: 0 .5em; }
.padding-y-md { padding: 0 1em; }
.padding-y-lg { padding: 0 1.5em; }
.padding-y-xl { padding: 0 3em; }

.padding-top-xs { padding-top: .25em; }
.padding-top-sm { padding-top: .5em; }
.padding-top-md { padding-top: 1em; }
.padding-top-lg { padding-top: 1.5em; }
.padding-top-xl { padding-top: 3em; }

.padding-right-xs { padding-right: .25em; }
.padding-right-sm { padding-right: .5em; }
.padding-right-md { padding-right: 1em; }
.padding-right-lg { padding-right: 1.5em; }
.padding-right-xl { padding-right: 3em; }

.padding-bottom-xs { padding-bottom: .25em; }
.padding-bottom-sm { padding-bottom: .5em; }
.padding-bottom-md { padding-bottom: 1em; }
.padding-bottom-lg { padding-bottom: 1.5em; }
.padding-bottom-xl { padding-bottom: 3em; }

.padding-left-xs { padding-left: .25em; }
.padding-left-sm { padding-left: .5em; }
.padding-left-md { padding-left: 1em; }
.padding-left-lg { padding-left: 1.5em; }
.padding-left-xl { padding-left: 3em; }

.margin-xs { margin: .25em; }
.margin-sm { margin: .5em; }
.margin-md { margin: 1em; }
.margin-lg { margin: 1.5em; }
.margin-xl { margin: 3em; }

.margin-x-xs { margin: .25em 0; }
.margin-x-sm { margin: .5em 0; }
.margin-x-md { margin: 1em 0; }
.margin-x-lg { margin: 1.5em 0; }
.margin-x-xl { margin: 3em 0; }

.margin-y-xs { margin: 0 .25em; }
.margin-y-sm { margin: 0 .5em; }
.margin-y-md { margin: 0 1em; }
.margin-y-lg { margin: 0 1.5em; }
.margin-y-xl { margin: 0 3em; }

.margin-top-xs { margin-top: .25em; }
.margin-top-sm { margin-top: .5em; }
.margin-top-md { margin-top: 1em; }
.margin-top-lg { margin-top: 1.5em; }
.margin-top-xl { margin-top: 3em; }

.margin-right-xs { margin-right: .25em; }
.margin-right-sm { margin-right: .5em; }
.margin-right-md { margin-right: 1em; }
.margin-right-lg { margin-right: 1.5em; }
.margin-right-xl { margin-right: 3em; }

.margin-bottom-xs { margin-bottom: .25em; }
.margin-bottom-sm { margin-bottom: .5em; }
.margin-bottom-md { margin-bottom: 1em; }
.margin-bottom-lg { margin-bottom: 1.5em; }
.margin-bottom-xl { margin-bottom: 3em; }

.margin-left-xs { margin-left: .25em; }
.margin-left-sm { margin-left: .5em !important;}
.margin-left-md { margin-left: 1em; }
.margin-left-lg { margin-left: 1.5em; }
.margin-left-xl { margin-left: 3em; }

fieldset {
    border: 1px solid #CCC;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
    padding: 15px;
    min-width: inherit !important;
}

fieldset legend {
    padding: 5px 10px;
    margin: 0 0 10px 20px;
    font-size: 18px;
    width: auto;
}

.fs-12{font-size: 12px}

.login-box-body, .register-box-body {
    background: none !important;
    padding: 20px;
    border-top: 0;
    color: #666;
    border: 1px solid red !important;
    border-radius: 10px !important;
}

select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><path d="M4 8L0 4h8z"/></svg>');
    padding: .5em;
    padding-right: 1.5em
}

.select-no-border{
    border-radius: 0
}

.select-marker{
    padding: 0 2px;
}

select#lang {
    font-family: 'FontAwesome'
}

.select2-container--default .select2-selection--multiple{
    overflow: scroll;
}

.errorTxt{color: #ff0000}


.error-message {
    color: red;
}
.remove {
    float: right;
    background: black;
    border-radius: 13px;
    color: white;
    cursor: pointer;
}


.no-padding-right{
    padding-right: 0 !important;
}
.no-padding-left{
    padding-left: 0 !important;
}
.no-padding-top{
    padding-top: 0 !important;
}
.no-padding-bottom{
    padding-bottom: 0 !important;
}

.form-control {
    border-radius: 5px !important;
}

table.result-table tr td, th{
    vertical-align: middle !important;
}

.text-left{
    text-align: left !important;
}

.btn-badge{
    min-width: 180px;
    margin-bottom: 10px;
    cursor: auto;
}
.block{display: block}

.form-drag{
    margin: 0px !important;
}
.glyphicon{
    top: 3px !important;
    right: 3px !important;
}

.no-border-radius{
    border-radius: 0 !important;
}

.wrapper{
    top: -20px !important;
}

.box-header>.box-tools {
    position: absolute;
    left: 120px;
    top: 5px;
}
.mySelect{width: auto !important;}
.timeline>li{
    margin-bottom: 0 !important;
}
.timeline-body{margin-left: 70px}


.badge-danger {
    color: #ffffff;
    background-color: #dc3545;
}

a.badge-danger:hover, a.badge-danger:focus {
    color: #ffffff;
    background-color: #bd2130;
}

a.badge-danger:focus, a.badge-danger.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.badge-success {
    color: #ffffff;
    background-color: #28a745;
}

a.badge-success:hover, a.badge-success:focus {
    color: #ffffff;
    background-color: #1e7e34;
}

a.badge-success:focus, a.badge-success.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

/*.select2{*/
    /*width: 100% !important;*/
    /*height: 100% !important;*/
/*}*/

.table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}

.select2-container .select2-selection--single{
    height: 3.4rem!important;
    /*font-size: 0.75rem;*/
}
.select2{
    width: 100%!important;
    border: 0px #ced4da!important;
}
.table-10{
    width: 10rem;
}
.table-20{
    width: 20rem;
}
.table-30{
    width: 30rem;
}
.table th, .table td{
    vertical-align: middle;
}
.table-sm td, .table-sm th {
    padding: .3rem !important;
}

/*class button*/

.btn-outline-info {
    color: #17a2b8;
    border-color: #17a2b8;
}

.btn-outline-info:hover {
    color: #ffffff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-outline-info:focus, .btn-outline-info.focus {
    box-shadow: 0 0 0 0 rgba(23, 162, 184, 0.5);
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
    color: #17a2b8;
    background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
    color: #ffffff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(23, 162, 184, 0.5);
}


.message.error {
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 2px #3C763D;
    padding: 10px;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
    margin-top: 20px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.btn-info, .btn-success, .btn-warning, .btn-danger {
    min-width: 5em;
}

/*.btn {*/
    /*padding: 0.25em 0.5em;*/
    /*font-size: 0.75em;*/
/*}*/

.mw100{min-width: 100px !important;}
.mw150{min-width: 150px !important;}

.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}

li.active a.nav-link{
    color: #fff;
    background-color: #007bff;
}

.mb15{margin-bottom: 15px}

.btnStatus{
    cursor: pointer;
}
.mt20{margin-top: 20px}
.mt12{margin-top: 12px}
.bs3.bootstrap-select .dropdown-toggle .filter-option {
    padding-right: 15px !important;
}
.w70{width: 70px}

.btnPrint{
    text-align: left;
}

i.fa, i.fas{ padding-right: 5px;}