body{
	font-family: 'Roboto', sans-serif;
	font-size: 0.75rem;
}
.btn{
	padding: 0.25rem 0.5rem;
	font-size: 0.75rem;
}
.btn-info, .btn-success, .btn-warning, .btn-danger{
	min-width: 5rem;
}
.card-title{
	font-size: 0.75rem;
}
.format-number{
	text-align: right;
}
.form-group{
	margin: 0px!important;
}
.form-control{
	margin-bottom: 0.75rem;
	height: 1.8rem!important;
	font-size: 0.75rem;
}
.form-control-sm{
	font-size: 0.75rem;
}
.form-control-label{
	padding: 10px;
}
.input-group .input-group-prepend .input-group-text{
	height: 1.8rem!important;
}
.input-group .input-group-prepend .form-control{
	display: table-cell!important;
}
.main-header{
	font-size: 1rem;
}
.nav-link{
	padding: 0.25rem 1rem;
}
.nav-icon{
	font-size: 0.75rem!important;
}
.nav-sidebar .nav-item .nav-link{
	margin-bottom: 0.5rem;
}
.nav-sidebar .nav-link p .right{
	top: 0.5rem;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 1.2rem!important;
}
.select2-container .select2-selection--single{
	height: 1.8rem!important;
	font-size: 0.75rem;
}
.select2{
	width: 100%!important;
	border: 1px #ced4da!important;
	margin-bottom: 0.75rem!important;
}
.table-10{
	width: 10rem;
}
.table-20{
	width: 20rem;
}
.table-30{
	width: 30rem;
}
.table th, .table td{
	vertical-align: middle;
}
