.upload-container{
    text-align: center;
}
.form-drag {
    font-size: 1.25rem; /* 20 */
    background-color: #E7EFFD;
    position: relative;
    padding: 150px 20px;
    margin: 0 1rem 1rem 1rem;

    /*Hide Choose file button*/
    outline: 2px dashed #3394F7;
    outline-offset: -10px;

    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.form-drag.is-dragover {
    outline-offset: -20px;
    outline-color: #ADD4FB;
    background-color: #fff;
}

.form-drag.upload_dragndrop {
    display: inline;
}

@-webkit-keyframes appear-from-inside {
    from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
    75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
    to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
}
@keyframes appear-from-inside {
    from	{ transform: translateY( -50% ) scale( 0 ); }
    75%		{ transform: translateY( -50% ) scale( 1.1 ); }
    to		{ transform: translateY( -50% ) scale( 1 ); }
}

.upload_file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.upload_file + label {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-align: center;
}
.upload_file + label:hover strong,
.upload_file:focus + label strong,
.upload_file.has-focus + label strong {
    color: #3394F7;
}
.upload_file:focus + label,
.upload_file.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

#file-validate-mess {
    display: none;
}

#csv_file_name {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

#error-mess {
    color: red;
    padding: 5px;
    font-size: 90%;
    text-align: left;
    width: 100%;
    margin-left: 1rem;
}