ul.sum-status,
ul.sum-order {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.sum-status li {
    padding: 20px;
    border-bottom: 1px solid gray;
    padding-bottom: 30px !important;
}

ul.sum-order li {
    padding-bottom: 20px !important;
}

ul.sum-order li.currency {
    color: #46BFBD;
}

ul.sum-status li span.color {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    float: left;
    margin-left: -22px !important;
    margin-top: 3px;
}

ul.sum-status li span.name {
    float: left;
}

ul.sum-status li span.count {
    float: right;
}
